.createlan {
  margin-bottom: 3rem;
}

.addpara__link {
  color: var(--colorLightest);
}

.imagedata {
  border-radius: 5rem;
}

.snacks__wrappers {

  height: 25rem;
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 2rem;
  justify-content: center;
}

.addpara {
  font-size: var(--fontRegular);
}

.snacks__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.section__right {
  display: none;
}

.section__title {
  font-size: var(--fontMediumBig);
  color: var(--colorLightest);
}

.section__para {
  font-size: var(--fontRegular);
  color: var(--colorLightest);
  margin-top: .5rem;
}

.section__link {
  font-size: var(--fontRegular);
  color: var(--colorLightest);
  text-decoration: none;
  margin-right: var(--spacerBig);
  margin-top: var(--spacerBig);
  border: var(--colorLightest) solid 1px;
  background-color: var(--colorSecondary);
  padding: .2rem var(--spacerBig);
  border-radius: var(--spacerBig);
}

.section__seperator {
  margin-bottom: var(--spacerBig);
  margin-top: var(--spacerBig);
}

.section__button {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: var(--spacerBig);
  margin-bottom: 6rem;
}

.return__button {
  color: var(--colorLightest);
  text-decoration: none;
  text-align: center;
  border: var(--colorLightest) solid 1px;
  padding: .5rem var(--spacerBig);
  border-radius: var(--spacerBig);
  background-color: var(--colorSecondary);
}

.FormName__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section__right__image {
  width: 100%;
}

@media (--only-small-screen) {

  .section__seperator {
    width: 50%;
  }
}

@media (--only-large-screen) {

  .section__button {
    width: 50%;
  }

  .section__right {
    float: right;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40rem;
  }

  .section__right__image {
    width: 35rem;
  }

  .section__seperator {
    margin-bottom: var(--spacerBig);
    margin-top: var(--spacerBig);
  }
}
