.input__button {
  background-image: linear-gradient(-90deg,#EBB6EC, #C56893);
  border: none;
  border-radius: 3rem;
  width: 10rem;
  height: 3rem;
  margin-top: 3rem;
  color: #221FB1;
  font-weight: 700;
  font-size: 1.5rem;
}
