.input__button {
  background-image: linear-gradient(-90deg, #ebb6ec, #c56893);
  border: none;
  border-radius: 3rem;
  width: 10rem;
  height: var(--spacerBig);
  margin: var(--spacerRegular);
  margin-bottom: calc(var(--spacerBig) * 2);
  color: var(--colorMain);
  font-weight: 700;
  font-size: var(--fontMedium);
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.input__button:hover {
  filter: brightness(1.3);
}

.button__return {
  margin-bottom: 4rem;
}
