.add__lanparty {
  color: var(--colorLightest);
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
  font-size: 4rem;
  text-decoration: none;

}

.add__lanparty__link {
  text-decoration: none;
}

.gradientPLus {
  background-color: var(--colorLightest);
}

.add__lanparty__image {
  transition: all 200ms ease-in-out;
}

.add__lanparty__image:hover {
  filter: brightness(1.2);
}
