.input__button {
  background-image: linear-gradient(-90deg, #ebb6ec, #c56893);
  border: none;
  border-radius: 3rem;
  width: 10rem;
  height: 2rem;
  margin-top: 1rem;
  color: #221fb1;
  font-weight: 700;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.input__button:hover {
  filter: brightness(1.3);

}
