.dashboard__items__wrapper {
  display: block;
}

.emptystate {
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 5rem;
  color: white;
  font-size: 1rem;
  text-align: center;
}

.section__right {
  display: none;
}

.emptyStateText {
  margin-top: 1rem;
}

@media (--only-large-screen) {

  .section__right {
    float: right;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40rem;
  }

  .section__right__image {
    width: 35rem;
  }
}
