.header__image__container1 {
  position: absolute;
  top: -2.5rem;
  left: -2rem;
  z-index: -1;
}

.header__image__container2 {
  position: absolute;
  display: none;
  justify-content: flex-end;
  overflow: hidden;
  width: 100%;
  z-index: -1;

}

.header__image2 {
  position: relative;
  right: -6rem;
  top: 0;
  display: none;
}

.header__image__container3 {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  width: 100%;
  top: -4rem;
  z-index: -1;
}

.header__image3 {
  position: relative;
  right: -7rem;
  top: -0;
  transform: rotate(45deg);
}

.header__title {
  font-weight: 700;
  font-size: 1.3rem;
  margin-left: 1.5rem;
  margin-top: 3.5rem;
  color: #f1c3fb;
}

.logo__link {
  text-decoration: none;
}
