.info {
  font-size: 1rem;
  /*display flex to make visible*/
  align-items: center;
  justify-content: center;

}

.feedback {
  display:none;
  color:white;
}

/*.info::after {
  content: url(../assets/images/aprove.svg);
  display: inline;
  margin-left: 2rem;
}
*/
