.info {
  font-size: var(--fontRegular);
  /*display flex to make visible*/
  align-items: center;
  justify-content: center;
  color: red;

}

.feedback {
  display: none;
  color: white;
  color: red;
}

.remove {
  background-image: linear-gradient(red, red);
}

/*.info::after {
  content: url(../assets/images/aprove.svg);
  display: inline;
  margin-left: 2rem;
}
*/
