body {
  font-family: var(--font);
  font-style: normal;
  font-weight: var(--fontWeightRegular);
  background-color: #1c118e;
}

html {
  height: 100%;
}

@media (--only-large-screen) {

  .body {
    background-image: linear-gradient(to right, var(--colorMain) 0%, var(--colorMain) 50%, var(--colorSecondary) 50%, var(--colorSecondary) 100%);
  }
}
